

// Định nghĩa màu sắc
$myDark : #000D15;
$myLightBlue : #2BBEE4;
$myLightGreen : #51F9F4;
$mySteal : #36A1A5;
$myDarkSteal : #215C67;
$myLightBackground : #CFEFF5;




$myFont: 'roboto';
$myFontSize: 30px;
$myAlign : 20px;
