.footer {
    display: flex; /* Sử dụng grid layout */

    background-color: #000D15; /* Chọn màu phù hợp */
    height: 120px; /* Chiều cao */
  }
  
.footer-content{
    display: flex;
    justify-content: space-around; /* Căn chỉnh các section một cách đều đặn */
    align-items: center; /* Căn giữa các items theo chiều dọc */
}

.contact-us{
  display: flex;
  justify-content: space-around; /* Căn chỉnh các section một cách đều đặn */
  align-items: center; /* Căn giữa các items theo chiều dọc */
}

.contact-us h2{
margin: auto auto auto 10px; 
color: white;
font-size: 30px; /* Kích thước chữ */
font-style: bold; /* Chữ đậm */
font-family: 'Roboto'; /* Font chữ */
}
.social-links {
    display: flex;
    justify-content: space-around; /* Căn chỉnh các section một cách đều đặn */
    align-items: center; /* Căn giữa các items theo chiều dọc */
}

.social-link img{
    height: 80px; /* Chiều cao của icon */
}

.references{
    display: flex;
    justify-content: space-around; /* Căn chỉnh các section một cách đều đặn */
}
.references h2{

    color : white;
    font-size: 30px; /* Kích thước chữ */
    font-style: bold; /* Chữ đậm */
    font-family: 'Roboto'; /* Font chữ */
}
.reference-links {
  display: flex;
  margin: auto;
  justify-content: space-around; /* Căn chỉnh các section một cách đều đặn */
}
  .reference-link {
    color: #51F9F4;  /* Màu chữ */
    font-size: 30px;
    font-style: bold; /* Chữ đậm */
    font-family: 'Roboto'; /* Font chữ */
    text-decoration: none; /* Bỏ gạch chân */

  }
  
.reference-link:hover {
    
    text-decoration: underline; /* Gạch chân khi di chuột qua */
}
  

  