
@import 'myCustom.scss';

.footer-content{
    display: flex; /* Sử dụng grid layout */
    background-color: $myDark; /* Chọn màu phù hợp */
    height: 120px; /* Chiều cao */
    justify-content: space-around; /* Căn chỉnh các section một cách đều đặn */
    
    .contact-us{
      display: flex;
      justify-content: space-around; /* Căn chỉnh các section một cách đều đặn */
      align-items: center; /* Căn giữa các items theo chiều dọc */
      h2{
        margin: auto auto auto $myAlign; 
        color: white;
        font-size: 20px; /* Kích thước chữ */
        font-style: bold; /* Chữ đậm */
        font-family: $myFont; /* Font chữ */
        }

      .social-links {
          display: flex;
          justify-content: space-around; /* Căn chỉnh các section một cách đều đặn */
          align-items: center; /* Căn giữa các items theo chiều dọc */
      }
      
      .social-link {

          img{
            height: 80px; /* Chiều cao của icon */
            margin: auto 10px auto 10px; /* Canh chỉnh icon */
          }
      }
    }
    .references{
      display: flex;
      justify-content: space-around; /* Căn chỉnh các section một cách đều đặn */
      h2{

        color : white;
        font-size: 30px; /* Kích thước chữ */
        font-style: bold; /* Chữ đậm */
        font-family: $myFont; /* Font chữ */
        margin: auto auto auto 10px; /* Canh chỉnh icon */
      }
      .reference-links {
      display: flex;
      margin: auto;
      justify-content: space-around; /* Căn chỉnh các section một cách đều đặn */
      }
      .reference-link {
        color: $myLightGreen;  /* Màu chữ */
        font-size: 30px;
        font-style: bold; /* Chữ đậm */
        font-family: 'Roboto'; /* Font chữ */
        text-decoration: none; /* Bỏ gạch chân */
        margin: auto 10px auto 10px; /* Canh chỉnh icon */
    
      }
      
      .reference-link:hover {
        
        text-decoration: underline; /* Gạch chân khi di chuột qua */
      }
    }
    
  }
  






  

  