

// Định nghĩa màu sắc
$myDark : #000D15;
$myLightBlue : #2BBEE4;
$myLightGreen : #51F9F4;
$mySteal : #36A1A5;
$myDarkSteal : #215C67;
$myLightBackground : #F0F8FF;

$myFont: 'roboto';
$myFontSize: 30px;
$myAlign : 20px;
// Phần định dạng cho View-detail

$tab-background: $mySteal;
$tab-hover-background: #007575;
$tab-active-background: $myDarkSteal;

$border-color: white;
$content-padding: 20px;
$note-background: #f5f5f5;
$text-color: #333;
$max-content-height: 500px;

$button-width: 200px; // Chiều rộng cố định cho các nút
$button-height: 40px; // Chiều cao cố định cho các nút